data/chinese_games.json filter=lfs diff=lfs merge=lfs -text
data/card_games.json filter=lfs diff=lfs merge=lfs -text
data/app_list.db filter=lfs diff=lfs merge=lfs -text
data/invalid_appids.json filter=lfs diff=lfs merge=lfs -text
data/failed_appids.json filter=lfs diff=lfs merge=lfs -text
